<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Data Provenance</title>
		<meta http-equiv="content-type" content="text/html;charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
        <link href="/css/style/bootstrap.min.css" rel="stylesheet">
        <link href="/css/style/font-awesome.css" rel="stylesheet">
        <link rel="stylesheet" href="/css/jsPlumb/jsPlumb-defaults.css">
        <link rel="stylesheet" href="/css/editor.css">
		<link rel="stylesheet" href="/css/elements/icons.css">
		<link rel="stylesheet" href="/css/elements/connectors.css">
		<link rel="stylesheet" href="/css/components/inspector.css">
		<link rel="stylesheet" href="/css/components/namespace.css">
		<link rel="stylesheet" href="/css/components/palette.css">
		<link rel="stylesheet" href="/css/components/canvas.css">
		<link rel="stylesheet" href="/css/components/output.css">
	</head>
	<body>
		<div class="mainDiv"> 
			<p></p><center><h1 class="mainTitle">Provenance Graph Editor</h1></center>
			<div class="topPage">
		        <span class="palette-namespace-span">
		            <div class="paletteDiv"><center><h3>Palette</h3></center>
		                <div class="paletteContainer">
		                    <div class="jtk-d-canvas canvas-wide editor-d" id="canvas1">
		                       	<div class="window start jsplumb-connected" id="entityID"><strong><p id="entityP">entity</p></strong></div>
								<div class="window step jsplumb-connected-step" id="activityID"><strong><p>activity</p></strong></div>
								<div class="window diamond jsplumb-connected-end" id="agentID"><strong><p class="desc-text">agent</p></strong></div>
							</div>
		                </div>
		            </div>
					<br>
					<span class="namespaceSpan">
						<div class="namespaceDiv">
							<h4>Namespace</h4>
							<button class="btn btn-primary" id="nameSpaceButton">+</button>
						</div>
						<br>
						<div id="namespaceContainer">
							<div id="defaultNameSpaceDiv">
								<label style="font-size: medium">default</label>
							</div>
						</div>
					</span>
		        </span>
		        <span class="canvasSpan">
		          	<div class="canvasDiv"><center><h3>Canvas</h3></center>
		              <div class="canvas" style="margin-top: 20px;">
		                  <div class="jtk-d-canvas canvas-wide editor-d jtk-surface jtk-surface-nopan" id="canvas">	  
		                  </div>
		              </div>
		        	</div>
					<div class="conversionDiv">
						<label class="convertLabel" for="format">Choose conversion format:</label>
						<select id="conversionFormat">
							<option value="N">PROV-N</option>
							<option value="XML">PROV-XML</option>
							<option value="RDF">PROV-RDF</option>
							<option value="TURTLE">PROV-TURTLE</option>
							<!-- <option value="JSON-LD">PROV-JSONLD</option> -->
							<option value="TRIG">PROV-TriG</option>
						</select>
						<button class="btn btn-info" id="templateButton">Template</button>
						<button class="btn btn-success" id="convertBtn">Convert</button>
					</div>
				</span>
				<span id="inspectorSpan">
					<div id="inspectorComponent"><center><h3>Inspector</h3></center>
						<div class="inspectorHeader">
							<div id="inspectorContainer"> 
								<label>ID: </label>
								<input type="text" id="placeholderID" name="Name">
								<select name="namespace" id="addNStoID">
									<option>default</option>
								</select>
								<button class="btn btn-primary" id="idBtn">✓</button> 
							</div>
							<div id="inspectorAttributeContainer">
								<label for="at">Attribute: </label> 
								<select name="attributes" id="selectionAttributes">
									<optgroup label="Attributes" id="attrOption">
										<option>prov:</option>
									</optgroup>
									<optgroup label="Pre-defined" id="pd-attrOption"></optgroup>
								</select>
								<button class="btn btn-primary" id="chooseAttributeBtn">+</button>
							</div>
						</div>
						<div id="elementDataInInspector"></div>		
					</div>
				</span>
				
		    </div>
			<br>
				
		</div>
		<div id="fileDisplayer" style="margin-top: 5%;">
			<center>
				<h1>Converted File</h1>
				<textarea id="displayConvertedFile" style="width: 90%; height:800px; font-size:14pt;" ></textarea>
				<br>
				<button class="btn btn-success" id="saveButton" style="margin-top: 1%; margin-bottom:1%;">Save File</button>
			</center>

		</div>
	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="/js/jQuery/jquery-ui.js"></script>
	<script src="/js/jsPlumb/jsPlumb-2.0.7.js"></script>
	<script type="text/javascript" src="/js/main.js"></script>
	<script type="text/javascript" src="/js/data/saveToLocal.js"></script>
	<script type="text/javascript" src="/js/data/toServer.js"></script>
	<script type="text/javascript" src="/js/components/inspector.js"></script>
	<script type="text/javascript" src="/js/components/namespace.js"></script>
	</body>
</html>