
#inspectorSpan {
	background-color: transparent;
    font-family: Arial,sans-serif;
	vertical-align: top;
	padding: 5px;
	display: inline-block;
	display: none;
	width: 30%;
}

#inspectorComponent {
	border: solid 1px black;
	box-sizing: border-box;
  	display: flex;
  	flex-direction: column;
}

.inspectorHeader {
	outline: thin solid gray;
	margin: 10px;
}


/**
*	Inspector ID header
*/
#inspectorIdContainer {
	display: flex;
	flex-wrap: wrap;
	/* justify-content: space-evenly; */
	/* padding-top: 1%; */
	/* display:inline-block; */
	padding-bottom: 5%;
	margin-top: 5%;
}

#inspectorIdContainer label {
	margin-left: 10px;
	margin-top: 3%;
	margin-right: 3%;
	font-size: medium;
}

#placeholderID {
	width: 45%;
}

/* #idBtn {
	float: right;
	margin-right: 2%;
	border-radius: 4px;
	color: #fff;
  	background-color: #337ab7;
  	border-color: #2e6da4;
}  */

@media all and (max-width: 1680px) { 
	#placeholderID {
		width: 50%;
	}
	
}
@media all and (max-width: 1580px) { 
	#placeholderID {
		width: 45%;
	}
	
}
@media all and (max-width: 1440px) { 
    #placeholderID {
		width: 40%;
	}
	#inspectorIdContainer label {
		font-size: small;
	}
}
@media all and (max-width: 1320px) { 
	#placeholderID {
		width: 35%;
	}
}

/* -----------------------------------------------*/



/**
*	Inspector new attribute header
*/


#inspectorDefineAttrContainer {
	display: flex;
	flex-wrap: wrap;	
	/* justify-content: space-evenly; */
	padding-bottom: 3%;	
}

#inspectorDefineAttrContainer label {
	margin-left: 10px;
	margin-top: 3%;
	margin-right: 3%;
	font-size: medium;
}
@media all and (max-width: 1400px) { 
	#inspectorDefineAttrContainer label {
		font-size: small;
	}
}


/* -----------------------------------------------*/

/**
*	Attribute section 
*/

#inspectorAttrContainer {
	display: flex;
    flex-direction: column;
    flex-wrap: wrap;
	outline: thin solid gray;
	padding-top: 10px;
	padding-bottom: 10px;
	overflow-x: auto;
	overflow-y: auto;
}
#inspectorAttrContainer * input {
	width: 30%; 
	margin-bottom: 2%;
	
}

#inspectorAttrContainer * label {
	padding-left: 5%;
	padding-right: 5%;
	margin-bottom: 5%;
	font-size: small;
}

#inspectorAttrContainer * button {
	float: right;
	margin-right: 10%;
}

.btn.btn-warning {
	width: 10%;
	height: 25px;
	line-height: 3px;
}

.btn.btn-danger {
	width: 10%;
	height: 25px;
	line-height: 3px;
}


@media all and (max-width: 1700px) { 
	#inspectorAttrContainer * input {
		width: 20%; 
	}
	#inspectorAttrContainer * label {
		padding-left: 5%;
		padding-right: 1%;
		font-size: small;
	}

}

@media all and (max-width: 1450px) { 
	#inspectorAttrContainer * input {
		width: 20%; 
		
	}
}
@media all and (max-width: 1300px) { 
	#inspectorAttrContainer * label {
		font-size: smaller;
		padding-left: 2%;
	}
}
