
.paletteDiv {
    border: solid 1px gray;
}


.paletteContainer {
    background-color: transparent;
    font-family: Arial,sans-serif;
    margin-left: auto;
    margin-right: auto;
    width:90%;
    max-width:1500px;
    position: relative;
    margin-top:20px;
    margin-bottom: 25px;
}


.palette-namespace-span {
    display: inline-block;
    vertical-align: top;
    padding: 5px;
    width: 13%;
}

.jtk-d-canvas.canvas-wide.editor-d {
    height: 470px;
}

@media all and (max-width: 1600px) { 
    .paletteContainer {
        height: 500px;
    }
    .jtk-d-canvas.canvas-wide.editor-d  {
        height: 470px;
    }
}
@media all and (max-width: 1400px) { 
    .paletteContainer {
        height: 400px;
    }
    .jtk-d-canvas.canvas-wide.editor-d {
        height: 370px;
    }
}
@media all and (max-width: 1300px) { 
    .paletteContainer {
        height: 400px;
    }
    .jtk-d-canvas.canvas-wide.editor-d {
        height: 370px;
    }
}